version: 2.1
orbs:
  node: circleci/node@5.1.0

jobs:
  test:
    working_directory: ~/travel-friends/travel-friends-web
    executor: node/default
    steps:
      - checkout:
          path: ~/travel-friends
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn test
          name: Run tests

deploy:
  working_directory: ~/travel-friends/travel-friends-web
  executor: node/default
  steps:
    - checkout:
        path: ~/travel-friends
    - run:
          command: npm install
          name: Install dependencies
    - run:
          command: npm run build
          name: Build application
    - run:
          command: render deploy
          name: Deploy to Render


workflows:
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
